<app-navbar></app-navbar>

<div class="text-center mt-3">
  <a class="btn btn-success m-2" href="/createNewChannel" *ngIf="usertype==1">New Channel</a>
  <a class="btn btn-success m-2" href="/viewChannel" *ngIf="usertype==1">View Channel</a>
</div>


<h1 class="text-center mt-3">Posts</h1>


<div class="card m-5" *ngFor="let item of arrPost">
  <div class="card-header text-center text-uppercase fs-4 fw-bold">
    {{item.title}}
  </div>
  <div class="card-body">
    <p class="card-title text-end fs-5">Channel: {{item.channel_id}}</p>
    <p class="card-text fs-5">{{item.content}}</p>
    <div class="col text-end">
      <button class="btn btn-primary" (click)="likePost(item.post_id)"><i class="far fa-thumbs-up"></i> {{item.likes}}</button>
    </div>
  </div>
  </div>
<!-- <p *ngIf="type==1">Student</p> -->
