* {
    overflow: hidden; /* Hide scrollbars */
  }
html{
    background-color: black;
}
p{
    font-size: 40px;
    color: mediumorchid;
}

h1{
    color: maroon;
    text-align: center;
}
h2{
    color: cornflowerblue;
    text-align: left;
}