<br><br>
<div class="card" style="width: 40rem; margin: auto;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="card-body" style="text-align: center;">
      <button type="button" class="btn btn-danger" style="margin-right: 5px;">Remove Post</button>
      <button type="button" class="btn btn-primary">View Complete Post</button>
    </div>
</div>