<h1 class="text-center mt-3">Posts</h1>


<div class="card m-5" *ngFor="let item of arrPost">
  <div class="card-header text-center text-uppercase fs-4 fw-bold">
    {{item.title}}
    <button class="fixedbutton" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div *ngFor="let item of arrTags">
        <button mat-menu-item >
          <mat-icon >local_offer</mat-icon>
          <span >{{item.name | titlecase}}</span>
        </button>
      </div>
    </mat-menu>
    <br><br>
  </div>
  <div class="card-body">
    <p class="card-title text-end fs-5">Channel: {{item.channel_id}}</p>
    <p class="card-text fs-5">{{item.content}}</p>
    <div class="col text-end">
      <button class="btn btn-primary" (click)="likePost(item.post_id)"><i class="far fa-thumbs-up"></i> {{item.likes}}</button>
    </div>
  </div>
  <br><br><br><br>
</div>