.example-container {
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }
  .example-sidenav-content {
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .example-sidenav {
    user-select: none;
  }
  .full-width {
    width: 100%;
  }
  .menu-button {
    padding-right: 20px;
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }
  .menu-button.rotated {
    transform: rotate(180deg);
  }
  .submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
  }
  .submenu.expanded {
    transform: scaleY(1);
  }
  .fixedbutton {
    position: absolute;
    right: 25px; 
    top: 10px;
  }

  .space{
    margin-right: 4%;
  }
  
  .color-nav{
  background-color: #32a852;
  }
  
  .back{
    background-image: url("https://cdn.pixabay.com/photo/2015/07/28/21/58/student-865073_960_720.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    overflow-x: hidden;
  }
  
  .txt-title{
    font-size:xx-large;
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
  }
  .main-style-btn{
    background-color: #2A8D45;
    border-color: #2A8D45;
    border-style: solid;
    color: #fff;
    height: 50px;
      
  }
  .style-btn:hover{
    background-color: #fff;
    color: black;
  }
  .form-control{
    height: 50px;
  }